<head>
  <title>socket-io</title>
</head>

<body>
  {{> chatbox}}
</body>

<template name="chatbox">
  <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
</template>
